In [1]:
import numpy as np
import pandas as pd
import numpy.random as npr

In [2]:
arr = npr.randint(50,100,16)

In [6]:
arr = arr.reshape(4,4)

In [7]:
arr

array([[88, 88, 91, 71],
       [97, 99, 80, 98],
       [57, 72, 60, 99],
       [90, 99, 85, 56]], dtype=int32)

In [8]:
df = pd.DataFrame(arr, columns = ['pramod','urvi','vivek','siddhesh'])

In [9]:
df

   pramod  urvi  vivek  siddhesh
0      88    88     91        71
1      97    99     80        98
2      57    72     60        99
3      90    99     85        56